.header-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;

    display: flex;
    align-items: center;
}

.header-title {
    margin-right: 50px;
    font-size: 25px;
}

.header-button {
    font-size: 20px;
    margin-right: 50px;
}