/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    overflow: hidden;
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}